@use 'variables' as v;
@use 'mixins' as m;

h1, h2, h3 {
    @include m.headings;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
}
.text-center {
    text-align: center;
}

[class$="_heading"]{
    @include m.nombre_pagina;
}
[class$="_descripcion"]{
    @include m.descripcion_pagina;
}
[class$="_titulo"]{
    text-align: center;
    color: v.$negro;
    text-transform: uppercase;
}


//Todos los botones para las acciones en diferentes paginas
[class$="-gestionar"]{
    @include m.boton(v.$azul, v.$blanco); 
    &{
        grid-column: 1/3;
    }
}
[class$="-editar"]{
    @include m.boton(v.$naranja, v.$blanco);
}
[class$="-eliminar"]{
    @include m.boton(v.$rojo, v.$blanco);
}
[class$="_volver"]{
    @include m.boton(v.$azul,v.$blanco);
    @include m.tablet{
        width: auto !important;
    }
}
[class$="_crear"]{
    @include m.boton(v.$azul,v.$blanco);
    @include m.tablet{
        width: auto !important;
    }
}
[class$="_botones"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    gap: 1rem;

    @include m.tablet{
        flex-direction: row;
    }
} 