@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color"; 

.fotos{
    &_titulo{
        text-align: center;
        text-transform: uppercase;
    }

    &_contenedor{
        @include m.contenedor;

        @include m.grid(1, 2rem);
        @include m.tablet{
            @include m.grid(2, 2rem);
        }
        @include m.desktop{
            @include m.grid(3, 2rem);
        }
    }

    &_foto{
        max-width: 100%;
        max-height: 100%;   
        overflow: hidden;
        @include m.tablet{
            max-height: 20rem;
        }
        @include m.desktop{
            max-height: 18rem;
        }
        @include m.xl_desktop{
            max-height: 25rem;
        }
    }
}