@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color"; 

.header{
    padding: 1rem 3rem;
    background-image: linear-gradient(to bottom, rgba(v.$negro, .8), rgba(v.$negro, .2)), 
    image-set(
        url(../img/header.avif) 1x,
        url(../img/header.webp) 1x,
        url(../img/header.jpg) 1x
    );
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    &_contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 2rem 0;
        width: 100%;

        @include m.tablet{
            flex-direction: row;
            justify-content: space-between;
        }

    }

    &_heading{
        color: v.$blanco;
        margin: 0;
        @include m.tablet{
            @include m.texto_fluido(2rem, 5rem);
        }
    }

    &_nombre{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &_icono{
        display: flex;
        align-items: end;
        font-size: 4rem;
        color: v.$blanco;

        @include m.tablet{
            display: none;
        }
    }

    &_navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        gap: 2rem;
        position: fixed;
        overflow: hidden;
        
        &.open{
            opacity: 1;
            visibility: visible;
        }
        @include m.tablet{
            all: unset;
            display: flex;
            flex-direction: row;
            align-items: center;
            visibility: visible;
            opacity: 1;
            gap: 2rem
        }
    }

    

    &_enlace{
        @include m.enlace(v.$blanco, v.$blanco);
    }

    &_submit{
        inset: all;
        @include m.enlace(v.$blanco, v.$blanco);
    }

}

.body-modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.modal{
    &-open{
        position: fixed;
        inset: 0;
        z-index: 1000;
        background-color: rgba(v.$negro, .8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: fadeIn ease-in .5s;
    }
    &.fadeOut{
        animation: fadeOut ease-out .5s;
    }

    @include m.tablet{
        display: none !important;
        visibility: hidden !important;
        opacity: 0 !important;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.btn_cerrar{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: v.$blanco;
    border: none;
    color: v.$negro;
    display: grid;
    place-items: center;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
}