@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color"; 

.fincas{

    &_contenedor{
        @include m.contenedor_md;
    }

    &_tag{
        @include m.tag;
    }

    &_info{
        text-align: center
    }

    &_acciones{
        @include m.grid(2, 2rem);
    }
}

.tarjetas{
    &_contenedor{
        @include m.contenedor;
        border-bottom: 3px outset v.$gris;
        @include m.grid(1, 2rem);

        @include m.tablet{
            @include m.grid(2, 2rem);
        }

        @include m.desktop{
            @include m.grid(3, 3rem);
        }
    }

    &_tarjeta{
        padding: 1rem;
        margin-bottom: 2rem;

        @include m.tablet{
            &:hover{
                background-color: color.scale(v.$blanco, $lightness: -10%);
                border-radius: 1rem;
                box-shadow: 0 0 1rem color.scale(v.$blanco, $lightness: -10%);
                transition: all 0.3s ease-in-out;
            }
        }
        &_enlace{
            color: v.$negro;
        }
    }
}