@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color"; 

.dashboard{
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    gap: 2rem;

    @include m.tablet{
        flex-direction: row;
        margin: 1rem 1rem 1rem 0;
    }

    &_nombre{
        font-weight: v.$black;

        span{
            font-weight: v.$regular;
        }
    }

    &_sidebar{
        background-color: color.adjust(v.$gris, $lightness: 25%);
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
        order: 2;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;



        @include m.tablet{
            position: static;
            order: 1;
            max-height: 100vh;
            position: sticky;
            top: 0;
            display: flex;
            align-items: center;
        }
    }

    &_menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        height: 60%;
        padding: 2rem;
        gap: 1rem;
        transition: all 2s ease-in-out;

        @include m.tablet{
            flex-direction: column;
            align-items: center;
        }

        &-texto{
            display: none;
        }

    }

    &_enlace{
        color: v.$blanco;
        display: flex;
        place-items: center;
        align-items: center;

        &-activo{
            background-color: color.adjust(v.$gris, $lightness: -10%);
            border-radius: .5rem;
        }
    }

    &_icono{
        padding: 1rem;
        border-radius: .5rem;
        margin: 0;
        transition: background-color 0.3s ease-in-out;

        &:hover{
            background-color: color.adjust(v.$gris, $lightness: -10%);
        }

        &-nombre{
            display: ruby;
            text-align: center;
            color: v.$negro;
            margin: 0;
            height: auto;
            width: auto;
            position: absolute;
            z-index: 1000;
            transform: translateX(7rem);
            padding: 1rem;
            background-color: color.adjust(v.$gris, $lightness: 10%);
            border-radius: 2rem;
            color: v.$blanco;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: v.$bold;
        }
    }
}

.contenido{
    flex-grow: 1;
    order: 1;
    margin: 0rem 1rem 10rem 1rem;

    @include m.tablet{
        order: 2;
        margin: 0rem 1rem 1rem 1rem;
    }
}

.general{
    margin-top: 3rem;
    @include m.contenedor-sm;
    text-align: center;

    &_tag{
        @include m.tag(v.$azul);
        &{
            flex-direction: column;
        }

        &-numero{
            font-weight: v.$black;
            font-size: 7rem;
        }
        &-info{
            font-weight: v.$bold;
            font-size: 2.4rem;
        }
    }
}